{% extends base %}

{% block page %}
        {% if category.description %}
            <div class="card">
                <div class="card-body">
                    {{ category.description | raw }}
                </div>
            </div>
        {% endif %}
        
        {% if category.viewMode is defined and category.viewMode == 1 %}
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                            {% for package in packages %}
                            <tr>
                                <td class="name">{{ package.name }}</td>
                                <td class="price">
                                    {% if package.priceCalculatedOriginal == package.priceCalculatedDiscounted %}
                                    {{ package.priceCalculatedOriginal|number_format(2, '.', ',') }}
                                    {% else %}
                                    <del>{{ package.priceCalculatedOriginal|number_format(2, '.', ',') }}</del>
                                    {{ package.priceCalculatedDiscounted|number_format(2, '.', ',') }}
                                    {% endif %}
                                    <small>{{ store.currency }}</small>
                                </td>
                                <td class="float-right">
                                    <button type="button" class="btn btn-theme" data-toggle="modal" data-target="#package{{ package.id }}">
                                        {{ language.more_info }}
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            {% for row in packages|batch(3) %}
                <div class="row">
                    {% for package in row %}
                    <div class="col-md-4 d-flex">
                        <div class="card flex-fill">
                            <div class="card-body d-flex" style="flex-direction: column">
                                {% if package.picture != null %}
                                <img class="flex-grow-1" style="max-width: 100%; display: block; margin-left: auto; margin-right: auto;" src="{{ package.picture }}">
                                {% endif %}
                                <div>
                                {% if package.picture != null %}<hr />{% endif %}
                                <div class="row">
                                    <div class="col-6"><b>{{ package.name }}</b><br />
                                        {% if package.priceCalculatedOriginal == package.priceCalculatedDiscounted %}
                                            {{ package.priceCalculatedOriginal|number_format(2, '.', ',') }}
                                        {% else %}
                                            <del>{{ package.priceCalculatedOriginal|number_format(2, '.', ',') }}</del>
                                            {{ package.priceCalculatedDiscounted|number_format(2, '.', ',') }}
                                        {% endif %}
                                        {{ store.currency }}
                                    </div>
                                    <div class="col-6">
                                        <button style="margin-top: 5px" type="button" class="btn btn-theme float-right" data-toggle="modal" data-target="#package{{ package.id }}">
                                            <i class="fas fa-info-circle"></i>
                                        </button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}

{% for package in packages %}
<div class="modal fade" id="package{{ package.id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ package.name }}</h5>
            </div>
            <div class="modal-body">
                <p>{{ package.description | raw }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    {{ language.close }}
                </button>
                {% if category.cumulativeCategory %}
                    {% if package.price - cumulativeDiscount > 0 %}
                        <a href="/package/{{ package.id }}">
                            <button type="button" class="btn btn-theme">{{ language.buy_now }}</button>
                        </a>
                    {% endif %}
                {% else %}
		    {% if package.subscriptionEnabled %}
                        <a href="/package/{{ package.id }}?subscription">
                            <button type="button" class="btn btn-theme">{{ language.subscribe }}</button>
                        </a>
 		    {% else %}
                    	<a href="/package/{{ package.id }}">
                        	<button type="button" class="btn btn-theme">{{ language.buy_now }}</button>
                    	</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}